@import "tailwindcss";

:root {
  --background: #3498DB;
  --secondary: #F39C12;
  --button-primary: #2C3E50;
  --button-secondary: #ECF0F1;
  --accent: #2C3E50;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*{
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  user-select: none;
}
body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter" sans-serif;
}
.page{
  height: 100vh;
  background-color: var(--background);
}
.logo {
  user-select: none;
  cursor: default;
}

.hero {
  font-size: 1.2rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.button-primary {
  border-radius: 9px;
  padding: .30rem  .9rem;
  background-color: var(--button-primary);
}
.button-secondary {
  border-radius: 9px;
  padding: .30rem  .9rem;
  color: black;
  background-color: var(--button-secondary);
}
/* .navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10%;
  z-index: 2;
  color: black;
  background-color: var(--secondary);
} 
.navigation{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
} */
.funfact{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-image: url("../../public/traffic.png");
}
.fact{
  width: 30%;
  height: fit-content;
  background-color: white;
}
button{
  &:hover{
    opacity: 0.9;
  }
  cursor: pointer;
}

.cloud{
  position: relative;
  background-color: var(--accent);
}
.cloudsvg{
  position: absolute;
  right: 10%;
  color: black;
  bottom: -30%;
}
.buff{
  color: black;
  font-weight: 600;
}
.textBreaker{
  color: black;
  font-weight: 600;
}
/* *{
  outline: 1px solid red;
} */
.cards{
  height: 80%;
  width: 25%;
  padding: 8px;
  color: black;
  background-color: white;
}
.gradientbg{
  background: #3498DB;
  background: linear-gradient(180deg, rgba(52, 152, 219, 1) 20%, #F39C12 80%);
}
.fluffy{
  background-image: url("@/images/traffic.png");
}
.basket{
  background-size: cover;
  background-image: url("@/images/lines.png");
  background-color: #F39C12;
}
.finalcard {
  background-color: white;
  width: 90vw;
  height: 70vh;
}

@media (min-width: 640px) {
  .finalcard {
    width: 28rem;
    height: 32rem;
  }
}

@media (min-width: 1024px) {
  .finalcard {
    width: 34rem;
    height: 36rem;
  }
}
