@import "tailwindcss";

:root {
  --background: #3498DB;
  --secondary: #F39C12;
  --button-primary: #2C3E50;
  --button-secondary: #ECF0F1;
  --accent: #2C3E50;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*{
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  user-select: none;
}
body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter" sans-serif;
}
.page{
  height: 100vh;
  background-color: var(--background);
}
.logo {
  user-select: none;
  cursor: default;
}

.hero {
  font-size: 1.2rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.button-primary {
  border-radius: 9px;
  padding: .30rem  .9rem;
  background-color: var(--button-primary);
}
.button-secondary {
  border-radius: 9px;
  padding: .30rem  .9rem;
  color: black;
  background-color: var(--button-secondary);
}
/* .navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10%;
  z-index: 2;
  color: black;
  background-color: var(--secondary);
} 
.navigation{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
} */
.funfact{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-image: url("../../public/traffic.png");
}
.fact{
  width: 30%;
  height: fit-content;
  background-color: white;
}
button{
  &:hover{
    opacity: 0.9;
  }
  cursor: pointer;
}

.cloud{
  position: relative;
  background-color: var(--accent);
}
.cloudsvg{
  position: absolute;
  right: 10%;
  color: black;
  bottom: -30%;
}
/* From Uiverse.io by augustin_4687 */ 
.buff {
  --stone-50: #fafaf9;
  --stone-800: #292524;
  --yellow-400: #facc15;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 1px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  border-radius: 9999px;
  background-color: var(--stone-800);
  color: var(--stone-800);
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;
  text-align: center;
  box-shadow:
    0.5px 0.5px 0 0 var(--stone-800),
    1px 1px 0 0 var(--stone-800),
    1.5px 1.5px 0 0 var(--stone-800),
    2px 2px 0 0 var(--stone-800),
    2.5px 2.5px 0 0 var(--stone-800),
    3px 3px 0 0 var(--stone-800),
    0 0 0 2px var(--stone-50),
    0.5px 0.5px 0 2px var(--stone-50),
    1px 1px 0 2px var(--stone-50),
    1.5px 1.5px 0 2px var(--stone-50),
    2px 2px 0 2px var(--stone-50),
    2.5px 2.5px 0 2px var(--stone-50),
    3px 3px 0 2px var(--stone-50),
    3.5px 3.5px 0 2px var(--stone-50),
    4px 4px 0 2px var(--stone-50);

  &:hover {
    transform: translate(0, 0);
    box-shadow: 0 0 0 2px var(--stone-50);
  }

  &:active,
  &:focus-visible {
    outline-color: var(--yellow-400);
  }

  &:focus-visible {
    outline-style: dashed;
  }

  & > div {
    color: black;
    position: relative;
    pointer-events: none;
    background-color: var(--secondary);
    border-radius: 9999px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 9999px;
      opacity: 0.5;
      background-image: radial-gradient(
          rgb(255 255 255 / 80%) 20%,
          transparent 20%
        ),
        radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
      background-position:
        0 0,
        4px 4px;
      background-size: 8px 8px;
      mix-blend-mode: hard-light;
      animation: dots 0.5s infinite linear;
    }

    & > span {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.35rem .80rem;
      gap: 0.25rem;
      filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.25));

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

@keyframes dots {
  0% {
    background-position:
      0 0,
      4px 4px;
  }
  100% {
    background-position:
      8px 0,
      12px 4px;
  }
}
